*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
}