.places{
    height: 850px;
}

.places h2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    color: #1B365D;
    font-size: 40px;
}

.places_block{
    top: 50px;
    position: relative;
    width: 1264px;
    height: 540px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.places_img{
    position: absolute;
    z-index: 1;
}

.places_1{
    width: 304px;
    transition: transform 0.3s ease;
}

.places_1:hover{
    transform: scale(1.1);
}

.places_inf{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    color: white;
    width: 304px;
    font-size: 16px;
    text-align: center;
    
}

.places_link{
    color: white;
}

.places_m{
    position: relative;
    top: 100px;
    height: 60px;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 26px; 
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
}

.places_link1{
    color: #000000;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
